@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900,400i,500i,600i,700i,800i,900i&display=swap);





.card__btn .btn {
  border-radius: 50px !important;
}
body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'Playfair Display', serif;
  font-size: 4.5rem;
  line-height: 86px;
}
.display-1 > .mbr-iconfont {
  font-size: 7.2rem;
}
.display-2 {
  font-family: 'Playfair Display', serif;
  font-size: 3.625rem;
  line-height: 70px;
}
.display-2 > .mbr-iconfont {
  font-size: 5.8rem;
}
.display-4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 26px;
}
.display-4 > .mbr-iconfont {
  font-size: 0.8rem;
}
.display-5 {
  font-family: 'Playfair Display', serif;
  font-size: 2.625rem;
  line-height: 52px;
}
.display-5 > .mbr-iconfont {
  font-size: 4.2rem;
}
.display-7 {
  font-family: 'Playfair Display', serif;
  font-size: 1.375rem;
  line-height: 32px;
}
.display-7 > .mbr-iconfont {
  font-size: 2.2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.9rem;
    font-size: calc( 1.91875rem + (3.625 - 1.91875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.91875rem + (3.625 - 1.91875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2.1rem;
    font-size: calc( 1.5687499999999999rem + (2.625 - 1.5687499999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.5687499999999999rem + (2.625 - 1.5687499999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.1rem;
    font-size: calc( 1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn-md.display-4 {
  font-size: 0.925rem;
}
.btn-lg.display-7 {
  font-size: 1.25rem;
}
.btn {
  padding: 0 30px;
  border-radius: 0;
}
.btn-sm {
  padding: 0 15px;
  border-radius: 0;
}
.btn-md {
  padding: 0 25px;
  border-radius: 0;
}
.btn-lg {
  padding: 0 40px;
  border-radius: 0;
}
.bg-primary {
  background-color: #5fcac7 !important;
}
.bg-success {
  background-color: #4b4342 !important;
}
.bg-info {
  background-color: #482be7 !important;
}
.bg-warning {
  background-color: #5d6a79 !important;
}
.bg-danger {
  background-color: #4db5ab !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #5fcac7 !important;
  border-color: #5fcac7 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #5fcac7;
  border-color: #5fcac7;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #5fcac7 !important;
  border-color: #5fcac7 !important;
}
.btn-primary:hover {
  background-color: #3db9b5 !important;
  border-color: #3db9b5 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #fe799c !important;
  border-color: #fe799c !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #fe799c;
  border-color: #fe799c;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #fe799c !important;
  border-color: #fe799c !important;
}
.btn-secondary:hover {
  background-color: #fe4677 !important;
  border-color: #fe4677 !important;
}
.btn-info,
.btn-info:active {
  background-color: #482be7 !important;
  border-color: #482be7 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #482be7;
  border-color: #482be7;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #482be7 !important;
  border-color: #482be7 !important;
}
.btn-info:hover {
  background-color: #3217c8 !important;
  border-color: #3217c8 !important;
}
.btn-success,
.btn-success:active {
  background-color: #4b4342 !important;
  border-color: #4b4342 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #4b4342;
  border-color: #4b4342;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #4b4342 !important;
  border-color: #4b4342 !important;
}
.btn-success:hover {
  background-color: #302b2a !important;
  border-color: #302b2a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #5d6a79 !important;
  border-color: #5d6a79 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #5d6a79;
  border-color: #5d6a79;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #5d6a79 !important;
  border-color: #5d6a79 !important;
}
.btn-warning:hover {
  background-color: #47515c !important;
  border-color: #47515c !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #4db5ab !important;
  border-color: #4db5ab !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #4db5ab;
  border-color: #4db5ab;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #4db5ab !important;
  border-color: #4db5ab !important;
}
.btn-danger:hover {
  background-color: #3d928a !important;
  border-color: #3d928a !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white.btn {
  color: #1e0e62 !important;
}
.btn-white:active,
.btn-white:focus {
  color: #1e0e62 !important;
}
.btn-white:hover {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  color: #1e0e62 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:hover {
  background-color: #4d4d4d !important;
  border-color: #4d4d4d !important;
}
.btn-primary-outline {
  border: 2px solid;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #5fcac7;
  color: #5fcac7;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background: #5fcac7 !important;
  border-color: #5fcac7;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #5fcac7 !important;
  border-color: #5fcac7 !important;
}
.btn-secondary-outline {
  border: 2px solid;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #fe799c;
  color: #fe799c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background: #fe799c !important;
  border-color: #fe799c;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #fe799c !important;
  border-color: #fe799c !important;
}
.btn-info-outline {
  border: 2px solid;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #482be7;
  color: #482be7;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background: #482be7 !important;
  border-color: #482be7;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #482be7 !important;
  border-color: #482be7 !important;
}
.btn-success-outline {
  border: 2px solid;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #4b4342;
  color: #4b4342;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff !important;
  background: #4b4342 !important;
  border-color: #4b4342;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #4b4342 !important;
  border-color: #4b4342 !important;
}
.btn-warning-outline {
  border: 2px solid;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #5d6a79;
  color: #5d6a79;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff !important;
  background: #5d6a79 !important;
  border-color: #5d6a79;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #5d6a79 !important;
  border-color: #5d6a79 !important;
}
.btn-warning-outline.btn {
  color: #202020 !important;
  border-color: #ebeaed !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:active,
.btn-warning-outline:focus {
  background-color: transparent !important;
  border-color: #5d6a79 !important;
}
.btn-danger-outline {
  border: 2px solid;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #4db5ab;
  color: #4db5ab;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff !important;
  background: #4db5ab !important;
  border-color: #4db5ab;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #4db5ab !important;
  border-color: #4db5ab !important;
}
.btn-black-outline {
  border: 2px solid;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff !important;
  background: #333333 !important;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline {
  border: 2px solid;
}
.btn-white-outline,
.btn-white-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #808080 !important;
  background: #ffffff !important;
  border-color: #ffffff;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.text-primary {
  color: #5fcac7 !important;
}
.text-secondary {
  color: #fe799c !important;
}
.text-success {
  color: #4b4342 !important;
}
.text-info {
  color: #482be7 !important;
}
.text-warning {
  color: #5d6a79 !important;
}
.text-danger {
  color: #4db5ab !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #319290 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #fd1451 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #151312 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #27119b !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #31373f !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #2e6e68 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #4b4342;
}
.alert-info {
  background-color: #482be7;
}
.alert-warning {
  background-color: #5d6a79;
}
.alert-danger {
  background-color: #4db5ab;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 50px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-gallery-filter li a {
  border-radius: 50px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #5fcac7;
  border-color: #5fcac7;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 50px !important;
}
a,
a:hover {
  color: #5fcac7;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f8fdfd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #beb6b5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e6e2fc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #a0aab6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #a7dad5;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Playfair Display', serif;
  font-size: 1.375rem;
  line-height: 32px;
}
.form-control > .mbr-iconfont {
  font-size: 2.2rem;
}
blockquote {
  border-color: #5fcac7;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 50px !important;
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 50px !important;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #5fcac7;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #5fcac7;
  border-bottom-color: #5fcac7;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #5fcac7 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #fe799c !important;
  box-shadow: none !important;
}
.sidebar-block .mbr-gallery-item .galleryItem .onsale {
  top: 0px;
}
.sidebar-block .mbr-gallery-item .galleryItem .sidebar_wraper {
  bottom: -35px;
  margin-left: 1rem;
}
.cid-snspwnets4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-snspwnets4 .mbr-section-title {
  margin-bottom: 50px;
}
.cid-snspwnets4 .mbr-section-btn .btn {
  font-weight: 700;
  height: 60px;
}
.cid-snspwnets4 .block__image {
  margin: 70px 0 40px;
}
@media (max-width: 991px) {
  .cid-snspwnets4 .block__image {
    margin: 70px 0 20px;
  }
}
.cid-snspwnets4 .block__image img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.cid-snspwnets4 .bottom__block {
  margin-top: 30px;
  padding: 10px 15px;
}
@media (min-width: 992px) {
  .cid-snspwnets4 .bottom__block {
    border-left: 2px solid #e8eaed;
  }
}
.cid-snspwnets4 .bottom__block:first-child {
  border-left: none;
}
.cid-snspwnets4 .bottom__text {
  color: #919dab;
  font-weight: 500;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .cid-snspwnets4 .bottom__text {
    margin: 0 25px;
  }
}
.cid-snspwnets4 .bottom__block:nth-child(4) {
  border-left: none;
}
.cid-snspwnets4 .mbr-section-title,
.cid-snspwnets4 .mbr-section-btn {
  color: #fe799c;
}
